.container {
  max-width: 550px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.passenger-card {
  background: #fff;
  padding: 14px;
  margin-top: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: left;
}

.actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.edit {
  background-color: #3498db;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
}

.delete {
  background-color: #e74c3c;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
}

.btn {
  width: 100%;
  padding: 15px;
  margin-top: 12px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
}

.btn-add {
  background-color: #7551e9;
  color: white;
}

.btn-csv {
  background-color: #2ecc71;
  color: white;
}

.btn-clear {
  background-color: #e74c3c;
  color: white;
}
